{% extends 'base.html' %}

{% block page %}index{% endblock %}

{% block content %}
	<header class="site-head-centered">
		<h1 title="vapor">vapor</h1>
	</header>
	<div id="frontpage">
		<p><strong>Vapor</strong> is a little experiment in my explorations of Valve's web apis. This site is mostly pointless, but may yield some interesting results from time to time.
			Below are the following experiments I've been toying with. For more information regarding the making of this site, check out the blog post/case study I wrote <a href="#">here</a>.
		</p>
	</div>
{% endblock %}
